<h1>MY REST API Tester</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="h1 my-4 p-5 bg-danger">Book Manager Software</div>
    <nav class="nav navbar navbar-expand-sm">
      <ul class="navbar-nav my-2">
        <li class="nav-item p-3">
          <a class="nav-link btn btn-info" routerLink="/books">Get All Books</a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link btn btn-danger" routerLink="/books/addNew">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add New Book</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>