<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Published Date</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let bk of bookList">
                <td>{{bk.bookId}}</td>
                <td>{{bk.title}}</td>
                <td>{{bk.price | currency :'INR'}}</td>
                <td>{{bk.publishedDate}}</td>
                <td>
                    <a href="#" routerLink="/books/edit/{{bk.bookId}}" class="btn btn-primary m-3">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        Edit</a>
                    <a href="#" class="btn btn-danger m-3">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
