@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h2>Login Here!!!</h2>
    <hr/>
    <div>
        <form method="post">
            <p>
                Enter the user Name : <input name="userName" placeholder="Enter the User name" class="form-control"/>
            </p>
            <p>
                Enter the Password : <input name="password" type="password" class="form-control" />
            </p>
            <p>
                <button type="submit" class="btn btn-danger">Login</button>
            </p>
        </form>
    </div>
</div>
